:root {
    --dark-gray: #2E383F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    width: 100%;
    background-color: var(--dark-gray);
}
header, header nav, .nav-links, .nav-footer, .nav-footer ul {
    display: flex;
}
#nav-logo {
    width: 10vw;
    height: auto;
}